p {
    color: white;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photoframe {
    width: 300px;
    aspect-ratio: 5/6;
    padding: 5px;
    margin: 10px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photoframe img {
    width: 95%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1 / 1;
}
.photoframe p {
    display: block;
}

@media screen and (max-width: 768px) {
    .photoframe {
        width: 90%;
        background-color: pink;
    }

    .photoframe img {
    }
    .photoframe p {
    }
}

@media screen and (max-width: 480px) {
}
