/* general setup */
* {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-size: 16pt;
    box-sizing: border-box;
}
::selection {
    background-color: #c4e7ea;
    color: #ff9293;
}
a {
    text-decoration: none;
}
p {
    color: white;
}

button {
    background: none;
    border: none;
    color: #ff9293;
    cursor: pointer;
}
/* end general setup */

/* uploadForm */
#uploadForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #c4e7ea;
}
.textfield {
    padding: 5px 10px;
    margin-right: 5px;
    max-width: 200px;
    border: none;
}

.submitButton {
    background-color: #ff9293;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.submitButton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #4d4c4d;
}

.submitButton img {
    width: 50px;
}
/* end uploadForm */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
#moreButton {
    visibility: hidden;
}
.logo {
    width: 100vw;
    max-width: 1000px;
}
.photoframe {
    width: 20vw;
    aspect-ratio: 5/6;
    padding: 5px;
    margin: 10px;
    /* background-color: #c4e7ea; */
    border: 3px solid #ff9293;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photoframe:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px #ff9293;
}

.thumbnail {
    width: 95%;
    margin-bottom: 10px;
    object-fit: cover;
    display: block;
    aspect-ratio: 1 / 1;
}
.photoframe p {
    display: block;
    color: #4d4c4d;
}
/* lightbox */
.backdrop {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(90, 70, 70, 0.8);
    /* display: flex;

    justify-content: space-between;
    align-items: center; */
}

.backdropContent {
    height: 100%;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 1.5rem;
    color: #ff9293;
    padding: 5px 0;
    border: 3px solid currentColor;
}
.imageWrapper {
    flex-shrink: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 90vh; */
    text-align: center;
    margin-left: 5%;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px #4d4c4d;
}
.lightboxImg {
    /* max-height: 60vh; */
    margin: 10px 0;
    object-fit: contain; /* padding-bottom: 10px; */
    /* border-bottom: 3px solid white; */
}

.imgDetails {
    /* border: 3px solid white; */
    padding: 0 10px;
}
.imgDetails p {
    color: #4d4c4d;
}
.closeButton {
    color: #ff9293;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 30px;
}
.closeButton:hover {
    cursor: pointer;
}

/* end lightbox */

/* comments */
.commentSlider {
    height: 100vh;
    padding-top: 80px;
    flex: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.listOfComments {
    list-style: none;
    padding: 0;
    overflow: scroll;
}
.listOfComments li {
    border-bottom: 2px solid #ff9293;
    margin: 0 20px;
    padding: 5px 10px;
}
.singleComment p,
q {
    font-size: 0.8rem;
    color: #4d4c4d;
    line-height: 1.5;
}
.author {
    font-size: 0.8rem;
}
.date {
    font-size: 0.5rem;
}
.commentBody {
    padding-left: 10px;
    quotes: "„" "“" "‚" "‘";
}
.noComments p {
    font-size: 0.8rem;
    color: #4d4c4d;
}
#addCommentForm {
    padding: 20px 20px;
    border-top: 2px solid #4d4c4d;
    display: flex;
    align-items: center;
    align-content: center;
}
#addCommentForm input {
    text-align: start;
}
#addCommentForm textarea {
}
#addCommentForm input,
textarea {
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    flex: 1;
    border: none;
}
.postButton {
    font-size: 0.7rem;
    float: right;
    padding: 0 20px;
}

/* end comments */

@media only screen and (max-width: 1200px) {
    .backdrop {
        flex-direction: column;
    }
    .backdropContent {
        height: 100%;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between;
        align-items: center; */
    }
    .heading {
        margin: 10px;
    }
    .imageWrapper {
        width: 95vw;
        margin: 0;
        padding: 0;
    }
    .lightboxImg {
        max-height: 60vh;
        object-fit: contain;
        padding-bottom: 20px;
    }

    /* comments */
    .commentSlider {
        width: 95vw;
        padding: 10px 0 0 0;
    }
}

/* media queries: middle/small screens */
@media only screen and (max-width: 768px) {
    body {
        background-color: teal;
    }
    */ .photoframe {
        width: 45vw;
    }

    /* lightbox */
}

@media only screen and (max-width: 550px) {
    body {
        background-color: tomato;
    }

    .photoframe {
        width: 95vw;
    }
}
/* end media queries */
